@charset 'utf-8';

/*********************
769부터 이상
**********************/
@media (min-width: 769px) and (max-width: 1280px) {
  header nav {
    padding: 1.8rem 3rem;
  }

  section#visual .mainText {
    top: 14rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 5;
  }
  section#visual .topText {
    width: 80vw;
    height: 80%;
    font-size: var(--fontSize-headline-2);
  }

  section#visual .downText {
    text-align: center;
    margin-top: 0.2rem;
  }

  section#visual .downText span {
    margin-right: -15px;
  }

  section#visual .subText {
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--fontSize-label-1);
    top: 45%;
    width: fit-content;
    text-align: center;
    white-space: nowrap;
  }
  section#visual .contact {
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    text-align: center;
    bottom: 20rem;
  }
  section#visual .space {
    width: 700px;
    height: 700px;
    right: -12rem;
    top: 22rem;
  }

  section#work .title {
    flex-wrap: wrap;
  }
  section#work .title .btnWrap {
    margin-top: 25px;
  }
  section#work .title a {
    font-size: 1.5rem;
  }
  .portfolio ul li {
    flex-wrap: wrap;
    gap: 3rem;
    transition: opacity 0.5s;
  }

  .portfolio .imgWrap {
    width: 100%;
  }
  .portfolio .portImg {
    width: 100%;
    margin-left: 0;
  }
  .portfolio .textWrap {
    width: 100%;
  }
  section#about {
    padding-top: 0;
  }
  .aboutText {
    margin-top: -42rem;
  }
  .aboutText > h2 {
    margin-top: 0;
  }
  #orbit-system {
    transform: translate(18rem, -13rem);
  }
  .scroller {
    transform: translateY(0%);
  }
  .link ul li p {
    font-size: var(--fontSize-body-4);
  }
  section#contact {
    padding-top: 0;
  }
  .contactText {
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    gap: 0;
  }
  .contactText .textLeft h3 {
    font-size: var(--fontSize-body-3);
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .contactText .textLeft {
    width: 100%;
    margin-right: 0;
  }
  .contactText .textRight {
    width: 100%;
    padding-top: 3rem;
  }
  .contactText .textLeft ul li {
    font-size: var(--fontSize-body-4);
  }
  footer .content {
    flex-wrap: wrap;
    margin: 5rem auto 2rem;
    width: 80%;
    text-align: center;
  }

  footer .content p {
    width: 100%;
  }
  footer img {
    margin: 0 auto 40px;
  }
}

/*********************
tablet
**********************/
@media (min-width: 376px) and (max-width: 768px) {
  header nav {
    padding: 1.8rem 3rem;
  }

  header nav ul {
    display: none;
  }
  .togglePosition {
    display: block;
  }
  .toggle {
    display: block;
  }
  section#visual .mainText {
    top: 14rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 5;
  }
  section#visual .topText {
    width: 80vw;
    height: 80%;
    font-size: var(--fontSize-headline-2);
  }

  section#visual .downText {
    text-align: center;
    margin-top: 0.2rem;
    font-size: 5rem;
  }
  section#visual .subText {
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--fontSize-label-1);
    top: 48%;
    width: fit-content;
    text-align: center;
    white-space: wrap;
  }
  section#visual {
    min-height: 100vh;
  }
  section#visual .contact {
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    text-align: center;
    bottom: 10rem;
  }
  section#visual .space {
    right: -28rem;
    top: 20rem;
  }
  section#work {
    padding-top: 8rem;
    padding-bottom: 5rem;
  }

  .portfolio .imgWrap {
    width: 100%;
    flex: none;
  }

  .portfolio .codeWrap {
    gap: 3rem;
  }
  .lightboxClose {
    font-size: 3rem;
  }
  section#about {
    padding-top: 8rem;
    padding-bottom: 30rem;
  }
  .link ul li p {
    font-size: 1.5rem;
  }
  #orbit-system {
    transform: translate(14rem, -10rem);
  }
  .scroller {
    top: -12rem;
  }
  .link {
    margin-top: -10rem;
  }

  .contactText {
    margin: 0 auto;
    gap: 0rem;
  }
  section#contact{
    padding-top: 6rem;
  }
  section#contact .mainTitle {
    width: 85%;
  }
  .contactText .textLeft {
    margin-top: 1rem;
    width: 90%;
  }
  .contactText .textLeft ul {
    margin-bottom: 150px;
    white-space: wrap;
  }
  .contactText .textLeft h3 {
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
    margin: 2rem auto 2rem;
    line-height: 1.5;
    word-break: keep-all;
  }
  .contactText .textRight {
    width: 90%;
    margin-top: -6rem;
  }
  .contactText .textLeft ul li {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
  }
  .contactText .textLeft ul li span {
    margin-left: 0;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 5px;
  }
  .contactText form button {
    width: 90%;
    text-align: center;
  }
  .contactText form {
    width: 100%;
  }
  .textRight .inputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textRight .inputGroup section#contact {
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 95vh !important;
    min-height: initial;
  }
  footer {
    padding-top: 5rem;
  }
}
@media (min-width: 376px) and (max-width: 576px) {
  section#visual .mainText {
    top: 14rem;
  }
  section#visual .topText {
    font-size: 2rem;
  }

  section#visual .downText {
    text-align: center;
    margin-top: 0.2rem;
    font-size: 3rem;
  }
  section#visual .subText {
    font-size: 1.2rem;
  }

  section#visual .contact {
    bottom: 4rem;
  }
  section#visual .contact p {
    font-size: 1rem;
  }
  section#visual .space {
    top: 13rem;
    right: -34rem;
  }
  section#work .title {
    flex-wrap: wrap;
  }
  section#contact {
    padding-top: 5rem;
  }
  section#work .title .btnWrap {
    margin-top: 1rem;
  }
  section#about {
    padding-top: 5rem;
  }
  .aboutText > h2 {
    width: 70%;
    margin-top: 2rem;
  }
  #about .circle {
    margin: 5rem auto 0;
  }
  .detail {
    width: 80%;
    margin: 4rem auto 0;
  }
  .link {
    margin-top: -4rem;
  }
  .scroller {
    top: -5rem;
  }
  #orbit-system {
    transform: translate(6rem, -2rem);
  }
  footer .content {
    justify-content: center;
  }
  footer .content p {
    text-align: center;
    margin-top: 1rem;
  }
}
/*********************
mobile 375
**********************/

@media (max-width: 375px) {
  header nav ul {
    display: none;
  }
  .togglePosition {
    display: block;
  }
  .toggle {
    display: block;
    width: 30px;
    height: calc(4px * 3 + 5px * 2);
  }
  .overlay ul {
    font-size: 2rem;
  }

  header h1 img {
    width: 50%;
  }
  header nav {
    padding: 1rem 1rem;
  }
  /***** Spin Animation *****/

  .bar--top {
    bottom: calc(50% + 5px + 4px / 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s), 0s;
  }

  .bar--middle {
    top: calc(50% - 4px / 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
  }

  .bar--bottom {
    top: calc(50% + 5px + 4px / 2);
    transition-property: top, transform;
    transition-delay: calc(0s + 0.35s), 0s;
  }

  #checkbox:checked + .toggle .bar--top {
    bottom: calc(50% - 4px / 2);
    transform: rotate(135deg);
    transition-delay: 0s, calc(0s + 0.35s);
  }

  #checkbox:checked + .toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
  }

  #checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px / 2);
    transform: rotate(225deg);
    transition-delay: 0s, calc(0s + 0.35s);
  }

  section#visual .mainText {
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 5;
  }
  section#visual .topText {
    width: 80vw;
    height: 80%;
    font-size: 1.5rem;
  }

  section#visual .downText {
    text-align: center;
    margin-top: 0.2rem;
    font-size: 2.5rem;
  }
  section#visual .subText {
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    top: 40%;
    width: 75%;
    text-align: center;
    white-space: wrap;
    word-break: keep-all;
  }
  section#visual .contact {
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    text-align: center;
    bottom: 16rem;
  }
  section#visual .contact p {
    font-size: 1rem;
  }

  section#visual .space {
    width: 400px;
    height: 400px;
    right: -15rem;
    top: 18rem;
  }
  section#work .title {
    flex-wrap: wrap;
  }
  .lightboxPrev,
  .lightboxNext {
    font-size: 1.5rem;
  }
  .btnWrap {
    margin-top: 2rem;
  }

  .aboutText {
    margin-top: -45rem;
  }
  .portfolio .textWrap h3 {
    font-size: 2rem;
  }
  .portfolio .textWrap p:nth-of-type(1) {
    font-size: 1rem;
  }
  .portfolio .codeWrap {
    gap: 1rem;
  }
  .portfolio .imgWrap {
    width: 100%;
    flex: initial;
  }
  .portfolio .textWrap .buttons {
    margin-top: 40px;
  }
  .portfolio .textWrap span {
    font-size: 0.9rem;
  }
  section#work {
    padding-bottom: 10rem;
  }
  .aboutText > h2 {
    color: #fff;
    font-size: var(--fontSize-label-2);
    text-align: center;
    width: 85%;
    margin-top: -5rem;
    word-break: keep-all;
  }
  .aboutText .name {
    transform: translate(0, 0);
    text-align: center;
    font-size: 1.5rem;
    margin-right: 0%;
    margin-top: 20px;
  }
  .aboutText span {
    font-size: 2rem;
  }
  #about .circle {
    margin: 5rem auto 0;
  }
  .detail_in {
    grid-template-columns: 1fr;
  }
  .detail {
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 6rem;
    width: 70%;
    white-space: wrap;
  }
  .detail_1 > h2 {
    font-size: 1.3rem;
  }
  .detail_text h3 {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .detail_1 > ul > li {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .detail_1 ul > li > .inside {
    margin-top: 20px;
  }
  .detail_1 ul > li > .inside li {
    margin-top: 10px;
  }
  .detail_1 ul > li > .inside span {
    font-size: 1rem;
    font-weight: normal;
  }
  .detail_1 ul > li > .inside .workplace {
    display: inline-block;
  }
  #orbit-system {
    transform: translate(3rem, -8rem);
  }
  .scroller {
    top: -10rem;
  }
  .link {
    margin-top: -8rem;
  }
  .link ul li {
    width: 100%;
  }
  .link ul li p {
    font-size: 1.4rem;
    height: 10vh;
    line-height: 10vh;
  }

  /* #SECTION - contact */

  section#contact {
    padding-top: 3rem;
    min-height: 30vh;
  }

  section#contact .mainTitle {
    text-align: center;
  }
  .contactText {
    margin: 0 auto;
    gap: 0rem;
  }
  .contactText .textLeft {
    margin-top: 1rem;
    width: 80%;
  }
  .contactText .textLeft ul {
    margin-bottom: 150px;
    white-space: wrap;
  }
  .contactText .textLeft h3 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: 2rem auto 2rem;
    line-height: 1.5;
    word-break: keep-all;
  }
  .contactText .textRight {
    width: 90%;
    margin-top: -6rem;
  }
  .contactText .textLeft ul li {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
  }
  .contactText .textLeft ul li span {
    margin-left: 0;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 5px;
  }
  .contactText form button {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .contactText form {
    width: 100%;
  }
  .messageForm .halfWidth {
    flex-basis: 100%;
  }
  .textRight .messageForm {
    justify-content: center;
  }

  .textRight .inputGroup:last-child {
    text-align: center;
  }
  footer {
    padding-top: 5rem;
  }
  footer .content {
    justify-content: center;
  }
  footer .content p {
    margin-top: 2rem;
    text-align: center;
  }
}
/*********************
mobile 320
**********************/

@media (max-width: 320px) {
  section#visual .mainText {
    top: 8rem;
  }
  section#visual .subText {
    top: 45%;
  }
  section#visual .contact {
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    text-align: center;
    bottom: 5rem;
  }
  section#visual .contact p {
    font-size: 0.8rem;
  }
  section#visual {
    min-height: 110vh;
  }
  section#visual .space {
    top: 10rem;
  }
  section#work {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
  section#work .title a {
    font-size: 1rem;
  }
  section#work .title a:not(:last-child) {
    margin-right: 2rem;
  }
  .portfolio .codeWrap {
    gap: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
  }
  .portfolio .imgWrap {
    width: 100%;
    flex: none;
  }
  .portfolio .portImg {
    width: 100%;
    margin-left: 0;
  }

  .portfolio .textWrap .buttons {
    padding-top: 3rem;
    width: 90%;
    margin: 0 auto;
    gap: 1rem;
  }
  .portfolio .textWrap button {
    transform: translateX(-50%);
    left: 50%;
    min-width: 150px;
  }
  .portfolio .imgDes span {
    display: none;
  }
  .textWrap button:nth-of-type(1) {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .portfolio .textWrap h3 {
    font-size: var(--fontSize-body-4);
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .portfolio .textWrap p:nth-of-type(1) {
    font-size: 1rem;
  }
  .portfolio .textWrap span {
    font-size: 0.7rem;
  }
  .portfolio ul li {
    gap: 3rem;
    padding: 2.5rem 0;
  }

  .lightboxClose {
    font-size: 2rem;
    top: 0;
  }
  .lightboxPrev,
  .lightboxNext {
    padding: 0;
    font-size: 1.5rem;
  }
  section#about {
    padding-top: 5rem;
    padding-bottom: 23rem;
  }

  section#about .mainTitle {
    text-align: center;
  }
  #about .circle {
    margin: 5rem auto 0;
  }
  .link {
    margin-top: 0rem;
  }
  .link ul li p {
    font-size: 1.2rem;
  }
  #orbit-system {
    display: none;
  }
  .scroller {
    transform: translateY(-20%);
    top: 0;
    height: fit-content;
  }

  .textBanner {
    font-size: 3rem;
  }

  section#contact {
    padding-top: 7rem;
  }
  footer {
    padding-top: 3rem;
  }
  footer .content {
    margin-top: 5rem;
  }
}
